<!DOCTYPE html>
<html>
  <head>
    <title>credits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="http://gaminguardian.com/wp-content/uploads/2018/01/800705.jpg">
  </body>
</html>
